<h1>Feed Form</h1>

<form class="feed-form">
  <label for="feed_title">Title: </label>
  <input type="text" name="feed[title]" value="" id="feed_title">

  <label for="feed_link">URL: </label>
  <input type="text" name="feed[url]" value="" id="feed_link">
  <input type="submit" class="submit-form" value="Submit">
</form>
